<div class="card-body">
  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input
        type="text"
        id="username"
        class="form-control"
        [(ngModel)]="user.username"
        name="username"
        required
      />
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input
        type="password"
        id="password"
        class="form-control"
        [(ngModel)]="user.password"
        name="password"
        required
      />
    </div>
    <div class="mb-3">
      <label for="nama" class="form-label">Nama</label>
      <input
        type="text"
        id="name"
        class="form-control"
        [(ngModel)]="user.name"
        name="name"
        required
      />
    </div>
    <div class="mb-3">
      <label for="hakakses" class="form-label">Hak Akses</label>
      <input
        type="text"
        id="hakakses"
        class="form-control"
        [(ngModel)]="user.hakakses"
        name="hakakses"
        required
      />
    </div>
    <div class="mb-3">
      <label for="kdklinik" class="form-label">Kode Klinik</label>
      <input
        type="text"
        id="kdklinik"
        class="form-control"
        [(ngModel)]="user.kdklinik"
        name="kdklinik"
      />
    </div>
    <div class="mb-3">
      <label for="kdcabang" class="form-label">Kode Cabang</label>
      <input
        type="text"
        id="kdcabang"
        class="form-control"
        [(ngModel)]="user.kdcabang"
        name="kdcabang"
      />
    </div>
    <button type="submit" class="btn btn-primary">
      {{ editData ? "Update" : "Save" }}
    </button>
    <button
      type="button"
      class="btn btn-secondary ms-2"
      (click)="cancelForm(f)"
    >
      Cancel
    </button>
  </form>
</div>
